<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <script src="/static/tinymce/tinymce.min.js"></script>
    <script>
        tinyMCE.init({
            {#'selector':'#tinydemo',#}
            'language':'zh_CN',
            {#'plugins':'image',#}
            {#'toolbar':'image',#}
            {#'image_upload_url':'upload/',#}
            {#'image_upload_base_path':'/static/upload',#}
            'mode':'textareas',
            'width':800,
            'height':600,
        })
    </script>
</head>
<body>
<h1>图片上传</h1>
<form action="{% url 'demo1:upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p><input type="file" name="photo"></p>
    <p><input type="submit" value="上传"></p>
</form>

<h1>富文本编辑器</h1>
<form action="{% url 'demo1:edit' %}" method="post">
    {% csrf_token %}
    <textarea name="content" id="mytext" cols="30" rows="10"></textarea>
    <br>
    <input type="submit">
</form>
</body>
</html>